@charset "UTF-8";

@font-face {
    font-family: 'wedge';
    src: url(../fonts/ttf/P22Wedge.ttf);
}

@font-face {
    font-family: 'wedge_ie';
    src: url(../fonts/ttf/P22Wedge.eot);
}

.wedge {
    font-family: 'wedge', 'wedge_ie'
}

#container{
    position: relative;
    font-family: "wedge";
    color: aliceblue;
    text-align: center;
    padding-top: 8%;
}

body{
    background-color: hsl(0, 0%, 20%);
    background-repeat: repeat;
    background-position: top left;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
	margin: 0;
    padding: 10px;
	font-family:'wedge';
    color: #ffffff;
}

#container{
    margin-left: inherit;
    margin-right: auto;
    display: flex;
    width: 100%;
    max-width: 400px;
    margin-top: auto;
}

embed{
    opacity: 0;
}

p{
    font-family: 'wedge';
    font-weight: normal;
    font-size: 1em;
    color: #ffffff;
    max-width: 400px;
    text-align: center;
}

a{
    color: white;
    text-decoration: none;
}

#info{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

#turntable{
    width:150px;
    height: 150px;
}
#outer, #inner{
    width: 50%;
    margin: auto;
    display: block;
    position: absolute;
}